<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('header') %> 

    <!-- Main -->
    <section>
          <!-- Title Group -->
          <div class="title-group">
            <!-- Title -->
          <h1><%= title %></h1>
          <!-- Add button -->
          <a href="/categories/new">
            <button class="add-category-btn">+ Add new category</button>
          </a>
        </div>

        <!-- Item Grid -->
        <div class="category-grid">

          <!-- Each category -->
          <% categories.forEach(cat => { %>
            <a href="/products?category=<%= encodeURIComponent(cat.category) %>">
              <div class="category-card">
                <h3><%= cat.category.charAt(0).toUpperCase() + cat.category.slice(1) %></h3>
              </div>
            </a>
          <% }) %>
        </div>
      </section>

    <%- include('footer') %>
  </body>
</html>
