<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <section>
      <!-- Back Button -->
      <a href="/products">
        <button class="back-btn">Back to products</button>
      </a>

      <div class="item-details">
        <!-- Item Image -->
        <img src="<%= product.image_url %>" alt="<%= product.name %>" />

        <div class="item-desc">
          <!-- Item details -->
          <div class="details">
            <h2><%= product.name %></h2>
            <p><strong>Brand:</strong> <%= product.brand %></p>
            <p><strong>Stock:</strong> <%= product.stock %> items</p>
            <p><strong>Price:</strong> $<%= product.price %></p>
            <p><strong>Description:</strong> <%= product.description %></p>
          </div>

          <!-- Button Group -->
          <div class="edit-btn-group">
            <!-- Edit Button -->
            <a href="/products/<%= product.id %>/edit">
              <button class="edit-btn">Edit</button>
            </a>

            <!-- Delete Button -->
            <form
              method="POST"
              action="/products/<%= product.id %>?_method=DELETE"
            >
              <button class="delete-btn" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('footer') %>
  </body>
</html>
