<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header') %>
    <section>
      <!-- Title -->
      <h1><%= title %></h1>

      <!-- Form -->
      <form action="/products/new" method="POST" enctype="multipart/form-data">
        <!-- Name -->
        <label for="name">*Name: </label>
        <input type="text" name="name" id="name" required />

        <!-- Brand -->
        <label for="brand">*Brand: </label>
        <input type="text" name="brand" id="brand" required />

        <!-- Price -->
        <label for="price">*Item price: </label>
        <input type="number" name="price" id="price" required />

        <!-- Stock -->
        <label for="stock">*Stock: </label>
        <input type="number" name="stock" id="stock" required />

        <!-- Description -->
        <label for="description">*Description: </label>
        <textarea name="description" id="description" required></textarea>

        <!-- Category -->
        <label for="category">Category: </label>
        <select name="category" id="category">
          <% categories.forEach(cat => { %>
            <option value="<%= cat.category %>">
              <%= cat.category %>
            </option>
          <% }) %>
        </select>

        <!-- Image -->
        <label for="image">Add image: </label>
        <input type="file" name="image" id="image" />

        <!-- Submit Button -->
        <button type="submit">Submit product</button>
      </form>
    </section>
    <%- include('footer') %>
  </body>
</html>
