<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body>
    <!-- Title -->
    <h1><%= title %></h1>

    <!-- Each product -->
    <% products.forEach(product => { %>
      <div class="item-card">
        <img src="<%= product.image_url %>" alt="<%= product.name %>">
        <h3><%= product.name %></h3>
        <p><%= product.brand %></p>
        <p><%= product.stock %></p>
        <p><%= product.price %></p>
      </div>
    <% }) %>
    
    <!-- Add button -->
    <a href="/products/new">
      <button>+ Add new product</button>
    </a>
  </body>
</html>
