<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('header') %> 

    <!-- Main -->
      <section>
        <!-- Title Group -->
    <div class="title-group">
      <!-- Title -->
    <h1><%= title %></h1>
    <!-- Add button -->
    <a href="/products/new">
      <button>+ Add new product</button>
    </a>
    </div>

    <!-- Item Grid -->
    <div class="item-grid">

      <!-- Each product -->
    <% products.forEach(product => { %>
      <a href="/products/<%= product.id %>">
        <div class="item-card">
        <img src="<%= product.image_url %>" alt="<%= product.name %>">
        <h3><%= product.name %></h3>
        <p>Brand: <%= product.brand %></p>
        <p>Stock: <%= product.stock %></p>
        <p><strong>$<%= product.price %></strong></p>
        </div>
      </a>
    <% }) %>
    </div>
      </section>
    <%- include('footer') %>
  </body>
</html>
